/*.btn {
  float: left;
}*/
.button{
  float: left;
  position: inline;
  
}
.Vehicle {
  position: absolute;
  height: 100px;
  width: 100px;
}

.Car {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: darkred;
}

.CopCar {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: darkblue;
}

.Motorcycle {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color:silver ;
}

.Tank {
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: darkgreen;
  
}